body {
    font-family: Arial, sans-serif;
    background: url('footballon.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #ff4500;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e03e00;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

h1 {
    text-shadow: 2px 2px 4px black;
    font-size: 2em;
    margin: 20px 0;
}

#iframe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    width: 90%;
    height: 400px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

#reload-video {
    width: 150px;
    margin-top: 10px;
    background-color: #ff4500;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
